/* components/list/index.wxss */
.list-warp {
  padding-top: 12rpx;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  overflow: auto;

  .list-item {
    flex: 0 0 auto;
    width: 238rpx;
    margin-left: 9rpx;
    margin-bottom: 18rpx;

    .list-item-pic {
      width: 238rpx;
      height: 423rpx;
      border-radius: 12rpx;
      overflow: hidden;
    }

    .list-item-label {
      text-align: center;
      height: 52rpx;
      font-size: 24rpx;
      line-height: 26rpx;
      overflow: hidden;
    }
  }
}
